
 .main{
   padding:10px;
   background:white;
   box-shadow: 1px 1px 10px silver;
   border-radius: 8px;
   margin: 10px;
  margin-top:18px;
 } 
 .container{
   display: grid;
   grid-template-columns:repeat(2,1fr);
   grid-gap: 10px;
 }
 mat-card{
   padding:0px;
   overflow: hidden;
  height:120px;
  
 }
 #img{
   width:100%;
   height:100%;
   
 }
.container a{
   padding:0px;
   width:100%;
   height:100%;
 }
