
.main{
  padding:15px;
  height:100%;
  margin-top:60px;
}
 .roadmap-card{
   padding:25px;
 }
 .answer{
   color: rgb(15,151,180);
 }
 
 .roadmap{
   display: grid;
   grid-gap: 10px;
   grid-template-columns: repeat(4,1fr);
 }
 app-card{
   margin:auto;
 }
 @media screen and (max-width:600px){
   .roadmap{
     grid-template-columns: repeat(2,1fr);
   }
 }