 .main{
   padding:15px;
   color: white;
  margin-top:30px;
  background:#ef196f;
}
.container{
  margin:20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2,1fr);
}

 .developer,.about{
   width:90%;
   margin:auto;
 }
 mat-icon,i{
   font-size:30px;
 }
 .email-icon{
   font-size:16px;
 }
 
 .email-icon-td{
   padding-top:5px;
 }
 .email{
   display: block;
   margin-left:-5px;
   margin-top:-5px;
 }
 table{
   margin-lefT:-4px;
 }
 .twitter{
   padding-left:10px;
 }
 .insta{
   padding-left: 2px;
 }
 .icons{
   margin-top:-15px;
   margin-left: 8px;
 }
@media screen and (max-width:600px){
  .container{
    display: block;
  }
 .developer,.about{
   width:100%;
   
 }
}