<div  class="main">
  <article class="container">
    <div class="about">
      <h2>About</h2>
      <p>
This website will collect best tutorial videos present in youtube on different topics to overcome the effort to search best videos for you study on a topic
      </p>
    </div>
    <div class="developer">
   <h2>Developer's contact</h2>
    <b>Arvind Kumar</b><br>
    <span>software Engineer</span>
     <br>
     <table>
       <tr>
         <td class="email-icon-td">
         <mat-icon class="email-icon">email</mat-icon>
      </td>
      <td class="email-td">
  <span class="email">arvindsoft37@gmail.com</span>
   
      </td>
       </tr>
     </table>
  <h3>follow me</h3>

  <section class="social">
        <button mat-icon-button>
          <a [href]="facebook"><mat-icon>facebook</mat-icon></a>
        </button>
        <button mat-icon-button>
          <a [href]="twitter"><i class="fa fa-twitter"></i></a>
        </button>
        <button mat-icon-button>
         <a [href]="instagram"> <i class="fa fa-instagram"></i></a>
        </button>
        </section>
</div>
  </article>
</div>