 
.social a{
  color:white;
  font-size:30px;
  padding:0px;
}
 .social mat-icon{
   font-size:30px;
   margin-top:8px;
   margin-right:6px;
 }
 
 .social button{
   margin-right:5px;
 }
 .main{
   padding:15px;
   color: white;
  margin-top:30px;
  background:#ef196f;
}
.container{
  margin:20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2,1fr);
}

 .developer,.about{
   width:90%;
   margin:auto;
 }
 
 .email-icon{
   font-size:16px;
 }
 
 .email-icon-td{
   padding-top:5px;
 }
 .email{
   display: block;
   margin-left:-5px;
   margin-top:-5px;
 }
 table{
   margin-lefT:-4px;
 }

@media screen and (max-width:600px){
  .container{
    display: block;
  }
 .developer,.about{
   width:100%;
   
 }
}