<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav [opened]="!mobileLayout"  [mode]="mode">
    <mat-toolbar *ngIf="!mobileLayout" color="accent" class="mat-elevation-z5 small-toolbar">
     <span class="title"> {{ title }} </span>
      <section class="md-menu" *ngIf="!mobileLayout">
        <ul>
          <a mat-button routerLinkActive="header-active" routerLink="home"><li>Home</li></a>
          <a mat-button routerLinkActive="header-active" routerLink="/category/roadmap"><li>Roadmap</li></a>
          <a mat-button routerLinkActive="header-active" routerLink="/category/frontend"><li>Frontend</li></a>
          <a mat-button routerLinkActive="header-active" routerLink="/category/backend"><li>Backend</li></a>
          <a mat-button routerLinkActive="header-active" routerLink="/category/youtube"><li>YTchannel</li></a>
        </ul>
      </section>
      <section class="social">
        <button mat-icon-button>
          <a [href]="facebook"><mat-icon>facebook</mat-icon></a>
        </button>
        <button mat-icon-button>
          <a [href]="twitter"><i class="fa fa-twitter"></i></a>
        </button>
        <button mat-icon-button>
         <a [href]="instagram"> <i class="fa fa-instagram"></i></a>
        </button>
      </section>
  </mat-toolbar>
    <div class="space"></div>
    <br>
      <a mat-button routerLinkActive="active" (click)="mobileLayout ? sidenav.close() : null" class="back-home-in-menu" routerLink="/home">home</a>
      <a mat-button routerLinkActive="active" (click)="mobileLayout ? sidenav.close() : null" class="back-home-in-menu" routerLink="/category/roadmap">Roadmap</a>
      <a mat-button routerLinkActive="active" (click)=" mobileLayout ? sidenav.close() : null" class="back-home-in-menu" routerLink="/category/frontend">Frontend</a>
      <a mat-button routerLinkActive="active" (click)="mobileLayout ? sidenav.close() : null" class="back-home-in-menu" routerLink="/category/backend">Backend</a>
      <a mat-button routerLinkActive="active" (click)="mobileLayout ? sidenav.close() : null" class="back-home-in-menu" routerLink="/category/youtube">YT channel</a>
  </mat-sidenav>
  <mat-sidenav-content id="container">
    <mat-toolbar class="header" [class.mat-elevation-z5]="mobileLayout" color="accent">
      <button *ngIf="mobileLayout" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
        <mat-icon class="toggle">menu</mat-icon>
      </button>
      <span class="title"> &nbsp;{{ title }}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="mobileLayout">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="menu">
          <span>facebook</span>
        </button>
        <button mat-menu-item>
          <span>instagram</span>
        </button>
        <a [href]="twitter" mat-bumat-button mat-menu-item>
          <span>twitter</span>
        </a>
      </mat-menu>
    </mat-toolbar>
    <div class="home">
      <router-outlet (activate)="onActive()"></router-outlet>
    </div>
    <div class="home footer">
      <app-footer [data]="[facebook,twitter,instagram]"></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>