 .main{
margin-top:70px;
 }
 .container a{
   padding:0px;
   white-space: pre-wrap;
 }
 .container{
   padding: 10px;
   display: grid;
   overflow: scroll;
   grid-gap: 10px;
   grid-template-columns: repeat(4,250px);
 } 
 mat-card{
   padding: 0px;
   overflow: hidden;
   box-shadow: 1px 1px 10px silver;
   box-sizing: border-box;
   width:250px;
   height:150px;
   border-radius:13px;
   background:grey;
 }
 
 #img{
   z-index: 1;
   width:100%;
   height:100%;
 }
 .text{
   background:rgba(0,0,0,0.5);
   padding:10px;
   padding-left:15px;
   padding-right:15px;
   font-weight: 500;
   display: block;
   position: absolute;
   line-height: 14px;
   font-size: 12px;
   color: white;
   bottom: 0px;
   z-index:5;
 }